__pycache__/
*.pyc
.env
TODO.md
README.txt
tests_main.py
assets/Pystock-font-image.png
assets/Pystock-icon-snake.png
assets/Pystock-icon.png
assets/Pystock-image-cyber-modern.png
assets/Pystock-image-cyber.png
assets/Pystock-image-modern.png
assets/Pystock-image.png

