__pycache__/
*.pyc
.env
TODO.md
README.txt
tests_main.py
Pystock-font-image.png
Pystock-icon-snake.png
Pystock-icon.png
Pystock-image-cyber.png
Pystock-image-modern.png
Pystock-image.png
Pystock-image-cyber-modern.png